<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aniversariantes</title>
    <link rel="shortcut icon" href="../public/pictures/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../public/styles/reset.css">
    <link rel="stylesheet" href="../public/styles/vars.css">
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/calendario.css">
</head>
<body>
    <header class="header">
        <div class="header__title">
            <h1>Aniversariantes</h1>
        </div><!--header__title-->
        <div class="header__nav">
            <nav>
                <ul>
                    <li><a href="#calendario">Calendário</a></li>
                    <li><a href="/cadastro">Cadastro</a></li>
                    <li><a href="https://institucional.uceff.edu.br/uceff/uceff/a-uceff">Saiba Mais</a></li>
                </ul>
            </nav>
        </div><!--header nav-->
    </header>

    <main>
        <div class="wrapper">
            <div class="wrapper__calendario" id="calendario">
                <div class="ano">
                    <span id="ano"></span>
                </div><!--ano-->

                <div class="meses janeiro">
                    <span><strong>Janeiro</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--janeiro-->

                <div class="meses fevereiro">
                    <span><strong>Fevereiro</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--fevereiro-->

                <div class="meses marco">
                    <span><strong>Março</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--marco-->

                <div class="meses abril">
                    <span><strong>Abril</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--abril-->

                <div class="meses maio">
                    <span><strong>Maio</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--maio-->

                <div class="meses junho">
                    <span><strong>Junho</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--junho-->

                <div class="meses julho">
                    <span><strong>Julho</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->
                    
                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--julho-->

                <div class="meses agosto">
                    <span><strong>Agosto</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--agosto-->

                <div class="meses setembro">
                    <span><strong>Setembro</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--setembro-->

                <div class="meses outubro">
                    <span><strong>Outubro</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--outubro-->

                <div class="meses novembro">
                    <span><strong>Novembro</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--novembro-->

                <div class="meses dezembro">
                    <span><strong>Dezembro</strong></span>

                    <div class="dias-da-semana">
                        <span>Seg</span>
                        <span>Ter</span>
                        <span>Qua</span>
                        <span>Qui</span>
                        <span>Sex</span>
                        <span>Sab</span>
                        <span>Dom</span>
                    </div><!--dias-da-semana-->

                    <hr>

                    <div class="dias">
                    </div><!--dias-->
                </div><!--dezembro-->
            </div><!--wrapper__calendario-->
        </div><!--wrapper-->
        
        <script src="../public/scripts/calendario.js"></script>
    </main>

    <footer>
        <span>Projeto desenvolvido por Nathália Dagort Ferlin em Março de 2024.</span>
    </footer>
</body>
</html>