.wrapper__calendario{
    max-width: 75%;
    margin: 10px auto;
    background-color: #fff;
    padding: 30px;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 40px;
}

.wrapper__calendario .ano{
    color: var(--amarelo);
    font-size: 3em;
    font-weight: bolder;
    margin: 20px 0 40px 0;
}

.meses{
    display: inline-block;
    width: calc(30% - 20px); /* Usamos calc para subtrair a margem dos 30% */
    margin: 10px;
    vertical-align: top;
    padding: 10px;
    
    font-size: 1em;
}

.dias-da-semana{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0 0 0;
    color: var(--laranja);
}

.dias{
    display: flex;
    width: 100%;
    flex-wrap: wrap;   

    color: var(--cinza-escuro);
    text-align: center;
}

.dias span{
    display: inline-block;
    width: 14.2%;
    text-align: center;
    font-size: 0.9em;
}
